.navbar-light .navbar-nav .nav-link {
  white-space: nowrap;

  color: #2c71b6;

  font-size: 19.2px;
}
.btn-outline-success {
  color: #ffffff;
  border-color: #2c71b6;
  border-radius: 0;
  background-color: #2c71b6;
}
.btn-outline-success:hover {
  color: #2c71b6;
  border-color: #2c71b6;
  background-color: #ffffff;
}

.navbar-shop {
  color: #2c71b6;
  border: none;
  background-color: #ffffff;

  font-size: 24px;
}
.navbar-shop:hover {
  color: #ffffff;
  border-color: #2c71b6;
  background-color: #2c71b6;
}

.carousel-control-prev,
.carousel-control-next {
  padding: 0;

  border: none;
}

.header__navbar {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar {
  margin-right: -15px;
  margin-left: -15px;
  padding: 26px 16px;
}
.navbar-nav {
  margin-right: 2px;
}
.navbar-link {
  padding: 8px;
}
.navbar-form {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

  height: 50px;

  border: 1px solid #2c71b6;
}
.navbar-form .btn {
  margin: 5px;
  padding: 0;
}
.navbar-form .btn .fas {
  padding: 10px;
}

.form-control {
  border: none;
  border-radius: 0;
  background-color: transparent;

  font-size: 19.2px;
}

.navbar-shop {
  position: relative;

  width: 50px;
  height: 50px;
  margin-left: 30px;
}
.navbar-shop .fas {
  margin-top: -5px;
}

.navbar-logo {
  margin-right: 16px;
  padding: 5px 0;
}

.header__carousel {
  margin-right: 0;
  margin-left: 0;

  border-bottom: 1px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

body {
  background-image: url(../img/patt.png);
  background-position: 50% 0;
}

.breadcrumb {
  padding: 16px 0 0 0;

  opacity: 0.5;
  background-color: transparent;

  font-size: 14px;
}
.breadcrumb a {
  color: #ffffff;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";

  color: #ffffff;
}
.breadcrumb span {
  color: #ffffff;
}

.breadcrumb-item .active {
  color: #ffffff;
}

.main-title__header {
  color: #ffffff;

  font-size: 45.6px;
}
.main-title__filter {
  width: 100%;
  margin-top: 6px;
  padding: 3px 10px 5px;

  color: #ffffff;
  border-color: #ffffff;
  background-color: #2c71b6;

  font-size: 20px;
}

.main-content {
  margin-top: 30px;
}

.item-wrapper {
  position: relative;

  margin-bottom: 30px;

  border: 1px solid #ffffff;
}
.item-wrapper .item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  height: 180px;

  background-color: rgba(255, 255, 255, 0.75);
}
.item-wrapper .container-fluid {
  background-color: rgba(44, 113, 182, 0.5);
}
.item-wrapper .container-fluid .item-title {
  padding-top: 12px;

  color: #ffffff;

  font-size: 28px;
}
.item-wrapper .container-fluid .item-description {
  color: #ffffff;

  font-size: 20px;
  line-height: 24px;
}
.item-wrapper .container-fluid .item-characteristics {
  margin-top: 15px;

  font-size: 20px;
  line-height: 28px;
}
.item-wrapper .container-fluid .item-characteristics span {
  display: block;

  margin-top: 7px;
  margin-bottom: 7px;

  color: #ffffff;
}
.item-wrapper .container-fluid .item-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}
.item-wrapper .container-fluid .item-buttons .btn {
  display: block;

  width: 30px;
  height: 30px;
  padding: 0;

  color: #2c71b6;
  background-color: rgba(255, 255, 255, 0);
}
.item-wrapper .container-fluid .item-buttons .btn:hover {
  color: #ffffff;
  background-color: #2c71b6;
}
.item-wrapper .container-fluid .item-buttons .btn:last-child {
  margin-top: 5px !important;
}
.item-wrapper .container-fluid .item-price {
  text-align: center;

  color: #ffffff;

  font-size: 32px;
  font-weight: bold;
}
.item-wrapper .container-fluid .item-actions {
  padding: 15px;
}
.item-wrapper .container-fluid .item-actions .btn {
  margin-bottom: 30px !important;
  padding: 8px 5px 10px;

  text-transform: uppercase;

  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;

  font-weight: bold;
}
.item-wrapper .container-fluid .item-actions .btn:last-child {
  margin-bottom: 15px !important;
}
.item-wrapper .container-fluid .item-actions .btn:hover {
  color: #2c71b6;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
}
.item-wrapper .container-fluid .item-actions .btn .fas {
  margin-left: 5px;

  font-size: 16px;
}
.item-wrapper .container-fluid .item-actions__cart {
  -webkit-transition: background-color 0.5s;
       -o-transition: background-color 0.5s;
          transition: background-color 0.5s;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-pagination__more {
  margin-bottom: 30px;

  text-align: center;

  font-size: 32px;
}
.main-pagination__more a {
  color: #ffffff;
}

.sidebar-filter {
  padding: 15px 30px 30px;

  color: #ffffff;
}
.sidebar-filter .form-check {
  margin: 10px 0;
}
.sidebar-filter .form-check-input {
  width: 0;
  height: 0;
}
.sidebar-filter .form-check-input::before {
  display: block;

  width: 12.8px;
  height: 12.8px;
  margin-top: 5.6px;

  content: "";

  border: 1px solid #ffffff;
}
.sidebar-filter .form-check-input:checked::before {
  background-color: #ffffff;
}
.sidebar-filter .form-check-label {
  margin-left: 8px;

  font-size: 20px;
}
.sidebar-filter legend {
  font-weight: bold;
}
.sidebar-filter__more {
  display: block;

  margin-bottom: 30px;

  color: #ffffff;

  font-size: 20px;
}
.sidebar-filter__submit {
  border: 1px solid #ffffff;
  border-radius: 0;
  background-color: #2c71b6;
}

.footer {
  background-color: rgba(255, 255, 255, 0.8);
}
.footer__copyright {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  color: #2c71b6;

  font-size: 20px;
}
@media (min-width: 991.75px) {
  .navbar-nav {
    width: calc(100% - 300px);
    padding-right: 30px;
    padding-left: 70px;
  }
  .nav-item {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    text-align: center;
  }
  .nav-item:not(.show) {
    border-left: 1px solid #2c71b6;
  }
  .nav-item:last-child {
    border-right: 1px solid #2c71b6;
  }
  .navbar .dropdown.show {
    border-bottom: 1px solid #ffffff;
    background-color: #2c71b6;
  }
  .navbar .dropdown.show .dropdown-toggle {
    color: #ffffff;
  }
  .navbar .dropdown-menu {
    margin-top: 1px;

    border: none;
    border-radius: 0;
    background-color: #2c71b6;
  }
  .navbar .dropdown-menu a {
    color: #ffffff;
  }
  .navbar .dropdown-menu a:hover {
    color: #2c71b6;
  }
  .form-control {
    width: 160px !important;
  }
  .sidebar-filter {
    border-right: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@media (min-width: 1199.75px) {
  .item-wrapper .container-fluid .item-actions .btn {
    font-size: 18.4px;
  }
}
@media (max-width: 1199.5px) {
  .item-wrapper .container-fluid .item-actions .btn {
    font-size: 14.4px;
  }
}
@media (max-width: 991.5px) {
  .navbar-form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    width: calc(100% - 100px);
  }
  .form-control {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }
  .navbar-shop {
    margin-top: -12px !important;
  }
  .sidebar-filter {
    border-top: 1px solid #ffffff;
  }
}
